#about {
  width: 1200px;
  margin: 100px auto 0;
  height: Calc(100vh - 100px);
}
#about .content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}
