#home {
  width: 1200px;
  margin: 0 auto;
}
#home .container {
  background: rgb(49, 249, 141);
  background: linear-gradient(
    135deg,
    rgba(49, 249, 141, 1) 0%,
    rgba(64, 193, 248, 1) 100%
  );
  height: Calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
#home .container .heroContent {
  text-align: center;
}
#home .container .heroContent h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-top: 50px;
}
#home .container .heroContent .heroDesc {
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
/* #home .container .workButton {
  position: absolute;
  bottom: 50px;
}
#home .container .workButton .toWork {
  color: white;
  text-decoration: none;
} */
#home .container .heroContent .toWork {
  color: white;
  text-decoration: none;
  margin-top: 20%;
  display: inline-block;
  border: 2px solid white;
  padding: 20px 30px;
  font-weight: 500;
  transition: 0.2s;
}
#home .container .heroContent .toWork:hover {
  color: rgb(49, 249, 141);
  border: 2px solid white;
  background-color: white;
}
