/* Header Styling */
.header {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: 0.2s;
}
.header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header a {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 14px;
}
.header .name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  align-self: center;
  transition: 0.2s;
}
.header .name:hover {
  opacity: 0.6;
}
.header .navItems {
  display: flex;
  height: 100%;
}
.header .navItems .navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  font-weight: 600;
  align-self: center;
  transition: 0.2s;
}
.header .navItems .navItem:hover {
  opacity: 0.6;
}
.header .white {
  color: white !important;
}
.header.shrink {
  background-color: rgba(255, 255, 255, 0.5);
  height: 60px;
}

/* Firefox Styles */

@media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  #work .main .number {
    margin: -280px 0 0 -40px !important;
  }
  #work .container.collapsed .projects #underline {
    margin-top: 25px !important;
  }
}

@supports (-ms-ime-align: auto) and (-webkit-text-stroke: initial) {
  #work .main .number {
    margin: -280px 0 0 -40px !important;
  }
  #work .container.collapsed .projects #underline {
    margin-top: 25px !important;
  }
}
